%h1=  @project.name + "  >>  " + get_collection_path(@collection.parent) 

= render 'form'

#spacer=  "==============================================="

= link_to @project.name, @collection.is_root? ? parent_url : resource_path(@collection.parent)
