= stylesheet_link_tag "form"
%h1 New collection

= render 'form'

#spacer=  "==============================================="

= link_to @project.name, @collection.is_root? ? parent_url : resource_path(@collection.parent)
